

<head>
	<title>GALÁPAGOS ACADEMY SCHOOL</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="../assets/images/logo.png" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
		rel="stylesheet">


</head>


	<div class="bg-top navbar-light">
		<div class="container">
			<div class="row no-gutters d-flex align-items-center align-items-stretch">
				<div class="col-md-4 d-flex align-items-center py-4">
					<a class="navbar-brand" href="index.html"><img src="../assets/images/Logo.png" style="width: 100px;"></a>
				</div>
				<div class="col-lg-8 d-block">
					<div class="row d-flex">
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span></span></div>
							<img src="../assets/images/ubicacion.png" style="width: 90px;" alt="">
							<div class="text">
								<span>DIRECCIÓN</span>
								<span>Carcelén N-89 Av. Pedro Ortiz</span>
							</div>
						</div>
						<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
							<div class="icon d-flex justify-content-center align-items-center"><span></span></div>
							<img src="/images/reloj.png" style="width: 90px;" alt="">
							<div class="text">
								<span>HORARIOS DE ATENCIÓN</span>
								<span>07:00-14:00</span>
							</div>
						</div>
						<div class="col-md topper d-flex align-items-center justify-content-end">
							<p class="mb-0">
								<a href="./intranet/login/login.php"
									class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
									<span>Intranet</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container d-flex align-items-center px-4">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			<form action="#" class="searchform order-lg-last">
				<div class="form-group d-flex">
					<input type="text" class="form-control pl-3" placeholder="Búsqueda">
					<button type="submit" placeholder="" class="form-control search"><span
							class="ion-ios-search"></span></button>
				</div>
			</form>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a style="color: white;"  routerLink="home" class="nav-link pl-0" >Inicio</a></li>
           <li class="nav-item"> <a style="color: white;"  routerLink="about" class="nav-link pl-0" >Nosotros</a></li>
           <li class="nav-item"> <a style="color: white;" routerLink="section" class="nav-link pl-0" >Secciones</a></li>
           <li class="nav-item"> <a style="color: white;"  routerLink="about" class="nav-link pl-0" >Servicios</a></li>
           <li class="nav-item"> <a style="color: white;"  routerLink="services" class="nav-link pl-0" >Admisiones</a></li>
           <li class="nav-item"> <a style="color: white;"  routerLink="services" class="nav-link pl-0" >Contáctanos</a></li>
           <li class="nav-item"> <a style="color: white;"  routerLink="services" class="nav-link pl-0" >Blogs</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
