<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2"> ¿Tienes preguntas?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Carcelén N-89 Av. Pedro
                  Ortiz, Quito-Ecuador</span></li>
              <li><span class="icon icon-phone"></span><span class="text">0998719334</span></li>
              <li><span class="icon icon-envelope"></span><span
                  class="text">joseph.06@hotmail.es</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Blogs Recientes</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../../../assets/images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="./coment1.html">La Gestión Empresarial es el futuro.</a>
              </h3>
              <div class="meta">
                <div><span class="icon-calendar"></span> Junio 22, 2020</div>
                <div><span class="icon-person"></span> Comentarios</div>
                <div><span class="icon-chat"></span> 19</div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-5 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../../../assets/images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="./coment2.html">El campus moderno de nuestra academia.</a>
              </h3>
              <div class="meta">
                <div><span class="icon-calendar"></span> June 23, 2020</div>
                <div><span class="icon-person"></span> Comentarios</div>
                <div><span class="icon-chat"></span> 19</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="./index.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Inicio1</a>
            </li>
            <li><a href="./informativeSchool/us.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Nosotros1</a>
            </li>
            <li><a href="./informativeSchool/secciones.html"><span
                  class="ion-ios-arrow-round-forward mr-2"></span>Secciones</a></li>
            <li><a href="./informativeSchool/services.html"><span
                  class="ion-ios-arrow-round-forward mr-2"></span>Servicios</a></li>
            <li><a href="./informativeSchool/admissions.html"><span
                  class="ion-ios-arrow-round-forward mr-2"></span>Admisiones</a></li>
            <li><a href="./informativeSchool/contact.html"><span
                  class="ion-ios-arrow-round-forward mr-2"></span>Contáctanos</a></li>
            <li><a href="./informativeSchool/blogs.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">¡Subscríbete!</h2>
          <form action="#" class="subscribe-form">
            <div class="form-group">
              <input type="text" class="form-control mb-2 text-center" placeholder="Ingresa tu email">
              <input type="submit" value="Subscríbete" class="form-control submit px-3">
            </div>
          </form>
        </div>
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2 mb-0">Conéctate con nosotros</h2>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="https://www.twitter.com"><span
                  class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com"><span
                  class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com"><span
                  class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | GALÁPAGOS
          ACADEMY
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
